<% if @errors.any? %>
<div class="ui error message">
  <%= @errors.first %>
  <% end %>
</div>




<%= form_tag(login_path, {class: "ui form error centered-login"}) do %>
  <div class="field">
    <%= label_tag "username"%>
    <%= text_field_tag "username"%>
  </div>
  <div class="Field">
    <%= label_tag "password" %>
    <%= password_field_tag "password" %>
  </div>
  <button class="ui button" type="submit">Login</button>
<% end %>
