<% if notice %>
  <div class="ui success message"><p id="notice"><%= notice %></p></div>
<% end %>

<% unless session[:display_welcome]%>
<div class="ui success message"><%=flash.now[:notice]= @welcome_message %></div>
<% session[:display_welcome] = true %>
<% end %>

<strong class="ui left-margin">User Name: </strong>  <%= @user.username %> <br>
<strong class="ui left-margin">First Name:</strong>  <%= @user.first_name %> <br>
<strong class="ui left-margin">Last Name: </strong> <%= @user.last_name %> <br>



<p class="ui left-margin"><strong>Books Checked Out:</strong></p>

<table class="ui very basic collapsing celled table left-margin">
  <thead>
    <tr><th>Book</th>
    <th>Library</th>
    <th>Return</th>
  </tr></thead>
  <% @checked_out_books.each do |checked_out_book| %>
  <tr><td><div class="content"><%=link_to checked_out_book.book_copy.book.title[0..75],checked_out_book.book_copy.book%></div></td>
    <td><%= checked_out_book.book_copy.library.name %> </td>
    <td><%= form_for checked_out_book, method: :patch do |f| %>
    <%=f.submit "Return Book" %>
    <% end %>
  </td>
  </tr>
  <% end %>
</table>




<p class="ui left-margin"><strong>Books Requested:</strong></p>
<table class="ui very basic collapsing celled table left-margin">
  <thead>
    <tr><th>Book</th>
    <th>Library</th>
    <th>Completed?</th>
  </tr></thead>
  <% @requests.each do |request| %>
  <tr><td><div class="content"><%= request.title %></div></td>
    <td><%= request.library.name %> </td>
    <td><%=request.completed?%> </td>
  </tr>
  <% end %>
</table>


<% if logged_in_user.username == "admin" %>
<div class="ui left-margin"><p><strong>Pending Requests</strong></p></div>
<table class="ui very basic collapsing celled table left-margin">
  <thead>
    <tr><th>Book</th>
    <th>Library</th>
    <th> </th>
  </tr></thead>
  <% @all_requests.each do |request| %>
  <tr><td><div class="content"><%= request.title %></div></td>
    <td><%= request.library.name %> </td>
    <td><%= form_tag '/approve-request', method: "post" do%>
      <%= hidden_field_tag 'request["title"]', request.title %>
      <%= hidden_field_tag 'request["description"]', request.description %>
      <%= hidden_field_tag 'request["library_id"]', request.library_id %>
      <%= hidden_field_tag 'request["id"]',request.id%>
      <%= submit_tag "Approve Request" %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
<% if logged_in_user.username == "admin" %>
<%= render "analytical_page" %>
<% end %>
