<p id="notice"><%= notice %></p>

<strong>User Name: </strong>  <%= @user.username %> <br>
<strong>First Name:</strong>  <%= @user.first_name %> <br>
<strong>Last Name: </strong> <%= @user.last_name %> <br>

<%= link_to "Check Out Book", books_path %>


<p><strong>Books Checked Out:</strong></p>

<% @checked_out_books.each do |checked_out_book| %>
<div>
<%= form_for checked_out_book, method: :patch do |f| %>
<%= checked_out_book.book_copy.book.title %> in <%= checked_out_book.book_copy.library.name %>
<%=f.submit "Return Book" %>
<% end %></div>
<% end %>
