<div class="ui link cards">
  <% counter = 1 %>
  <% @libraries.each do |library| %>
  <div class="card">
    <a class="image" href="<%=library_path(library) %>">
<img src="/images/<%=counter %>.jpg">
<% counter += 1 %>
</a>
    <div class="content">
      <a class="header" href="<%=library_path(library) %>"><%=library.name%></a>
      <div class="description">
        <%= library.location %>
      </div>
    </div>
  </div>
  <% end %>
</div>
