<p>Welcome to the request page. Please enter the title of the book you want.</p>
<%= form_tag "/request-form", method: "post" do %>
<strong><%= label_tag(:title, "Search by Title:")%></strong>
<%= text_field_tag(:title, ) %>
<%= submit_tag("Search") %>
<% end %>

<% if @book_hash %>
<ul>
  <% @book_hash.each do |book| %>
  <li><strong><%= book["title"]%></strong>
  <p><%= book["description"] %></p></li>
  <%= form_tag "/requests/new", method: "get" do %>
 <%= hidden_field_tag 'book["title"]', book["title"]  %>
<%= hidden_field_tag 'book["description"]', book["description"]  %>
<%= submit_tag "Request book" %>
<% end %>
  <% end %>
</ul>
<% end %>
