
<%= form_tag "/books/search", method: "get" do %>
<strong><%= label_tag(:title, "Search by Title:")%></strong>
<%= text_field_tag(:title, ) %>
<%= submit_tag("Search") %>
<% end %>
<% if !@search %>
<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>Book</th>
    <th>Author</th>
  </tr></thead>
  <% @books.each do |book| %>
    <tr><td><div class="content"><%= link_to book.title[0..75], book %></div></td>
      <td><%=book.author %> </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @books %>

<% else %>
<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>Book</th>
    <th>Author</th>
  </tr></thead>
  <% @books.each do |book| %>
  <tr><td><div class="content"><%= link_to book.title[0..75], book %></div></td>
    <td><%=book.author %> </td>
  </tr>
  <% end %>
</table>

  <% if logged_in? %>
  Didn't find your book? <%= link_to "Request a book","/request-form" %>
  <% end %>
<% end %>
