
<%= form_tag "/books/search", method: "get" do %>
<strong><%= label_tag(:title, "Search by Title:")%></strong>
<%= text_field_tag(:title, ) %>
<%= submit_tag("Search") %>
<% end %>
<% if !@search %>
  <ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>
<%= will_paginate @books %>
<% else %>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
  <% if logged_in? %>
  Didn't find your book? <%= link_to "Request a book","/request-form" %>
  <% end %>
<% end %>
