<%= form_tag "/books/search", method: "get" do %>
<%= label_tag(:title) %>
<%= text_field_tag(:title) %>
<%= submit_tag("Search") %>
<% end %>

<ol>
<% @books.each do |book| %>
  <li><%= link_to book.title, book %></li>
<% end %>
</ol>
