<h1><%= @book.title %></h1>
<p><%= @book.description %></p>

<%@book_copies.each do |copy| %>
<h3> <%= link_to copy.library.name, copy.library %></h3>
<% end %>

<%= form_for @checked_out_book do |f| %>
<%=f.collection_select :book_copy_id,@book_copies,:id, :library_name%>

<%= f.submit "Checkout" %>
<% end %>
