<h1>Title: <%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p>Description: <br><p><%= @book.description %></p></p>

<h3>Copies Available At:
<%@libraries.each do |library| %>
<%= link_to library.name, library %>
<% end %>
</h3>

<%= form_for @checked_out_book do |f| %>
<%=f.collection_select :book_copy_id,@book_copies,:id, :library_name,include_blank: "Please select"%>

<%= f.submit "Checkout" %>
<% end %>
