<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Library Network</title>
    <link rel="shortcut icon" type="image/png" href="/images/library-icon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
      <div class="ui secondary menu">
          <a href="/" class="item"><i class="home icon"></i>Home</a>
          <a href="/books" class="item"><i class="book icon"></i>Books</a>
          <a href="/libraries" class="item"><i class="university icon"></i>Libraries</a>

          <div class="right menu">
            <% if logged_in? %>
              <%=link_to logged_in_user.first_name + ' is logged in!' + ' Go to profile',logged_in_user, class: "ui item"%>
              <%= link_to "Logout", logout_path,method: :post, class: "ui item"%>
            <% else %>
              <%= link_to "Sign Up", new_user_path, class: "ui item" %>
              <%=link_to "Login", login_path, class: "ui item"%>
            <% end %>
          </div>
    </div>
    <%= yield %>
  </body>
  <footer>
    © 2018 Steven Chen & John Burnett, all rights reserved
  </footer>
</html>
