<!DOCTYPE html>
<html>
  <head>
    <title>BookLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <ul class="header-menu">
        <% if logged_in? %>
        <li>
          <%= logged_in_user.first_name %> is logged in! <%=link_to "Go to profile",logged_in_user%>
          <%= button_to "Logout", logout_path,method: :post %>
        </li>
        <% else %>
        <li><%= link_to "Register",new_user_path %></li>
        <li><%=link_to "Login", login_path%></li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
